<div class="container" ng-controller="MainCtrl">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">TODO List</div>
            <div class="panel-body">
                <h4 style="margin-left: 100px">{{remaining()}} of {{todoList.length}} remaining</h4>
                <ul style="list-style: none">
                    <li ng-repeat="todo in todoList">
                        <input type="checkbox" ng-model="todo.done" >
                        <span>{{todo.text}}</span>
                    </li>
                </ul>
                <div class="row">
                    <input type="text" placeholder="Todo Item" ng-model="newTodo" style="margin-left: 20px">
                    <button class="btn btn-primary pull-right" ng-click="addTodo()" style="margin-right: 20px">Add TODO item</button>
                </div>
            </div>
        </div>
    </div>
</div>